body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(185, 215, 240);
}
main{
    width:900px;
    max-width: 90%;
    
    margin:0 auto;
    
    
}
section{
    
    background-color: white;
    border-radius: 10px;
   
}
.top-player,.blogs,.courses{
    display: grid;
    
    grid-gap: 30px;
    /* margin-left: 13%; */
    margin-top: 20px;
    place-items: center;
    
}
.top-player,.courses{
    grid-template-columns: repeat(3,1fr);
}
.blogs{
    grid-template-columns: repeat(2,1fr);
}
.thumbnail img{
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
}

.course-detail{
    margin-left: 10px;
}

.section-title{
    color: rgb(50, 96, 245);
    margin-left: 20px;
    
}
.top-player .player img{
    height: 50px;
    margin-right: 20px;
    
}
 .player,.blog,.course-info{
    display: flex;
    align-items: center;
    
}
.filled{
    color: gold;
}
.unfilled{
    color: lightgrey;
}
.course-info p{
    margin-right: 10px;
}

@media(max-width:992px){
    .top-player{
        
        grid-template-columns: repeat(2,1fr);
        
        
       
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .courses{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:668px){
    .top-player{
        
        grid-template-columns: repeat(1,1fr);
        
        
       
    }
    .blog{
       display:block ;
    }
    .courses{
        grid-template-columns: repeat(1,1fr);
    }
}

